.menu-hamburguer,
.botao-hamburguer {
  display: none;
}

@media (max-width: 825px) {
 .cabecalho {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  .area-usuario {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
  }

  .botao-hamburguer {
    display: flex;
    width: 42px;
    height: 36px;
    margin-left: 10px;

    cursor: pointer;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    z-index: 50;}

  

  .botao-hamburguer span {
    display: block;

    width: 25px;
    height: 3px;

    background-color: currentColor;
    border-radius: 2px;
  }

  .menu {
    position: absolute;

  top: 100%;
  left: 0;
  right: 7px;

  width: 98%;

  border-radius: 0px 0px 10px 10px ;

  display: flex;
  flex-direction: column;
  align-items: stretch;



  background: var(--cor-superficie);
  border-bottom: 1px solid var(--cor-borda);

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

  z-index: 40;

  /* Estado fechado */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transform: translateY(-10px);

  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease;
  }

  .menu-hamburguer:checked ~ .menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  transform: translateY(0);
  }

  .menu a,
  .menu summary {
    display: block;
    margin-left: 15px;
  }

  .submenu-lista {
    position: static;

    display: flex;
    flex-direction: column;
    width: 90%;

    box-shadow: 0px 0px 3px  var(--cor-destaque);

    padding-left: 1rem;
    margin-left: 5%;
  }

  .area-usuario {
   
    display: flex;
    align-items: center;
    gap: 10px;

    /* empurra usuário + hambúrguer para a direita */
    margin-left: auto;
  }
}
